



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 42% 100%;
    --foreground: 224 69% 3%;
    --muted: 344 7% 89%;
    --muted-foreground: 344 12% 29%;
    --popover: 224 42% 100%;
    --popover-foreground: 224 69% 3%;
    --card: 0 0% 99%;
    --card-foreground: 224 69% 2%;
    --border: 224 11% 95%;
    --input: 224 11% 95%;
    --primary: 224 92% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 344 92% 65%;
    --secondary-foreground: 344 0% 100%;
    --accent: 224.27 92.13% 65.1%;
    --accent-foreground: 104 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 8 0% 100%;
    --ring: 224 92% 65%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 32.47% 15.1%;
    --foreground: 224 10% 98%;
    --muted: 217.2 20.32% 36.44%;
    --muted-foreground: 344 0% 70%;
    --popover: 224 51% 0%;
    --popover-foreground: 224 10% 98%;
    --card: 0 0% 1%;
    --card-foreground: 224 10% 99%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --primary: 224 92% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 344 92% 65%;
    --secondary-foreground: 344 0% 100%;
    --accent: 224.27 92.13% 65.1%;
    --accent-foreground: 104 0% 100%;
    --destructive: 0 82% 60%;
    --destructive-foreground: 0 0% 100%;
    --ring: 224.27 92.13% 65.1%;
  }
}


@layer base {
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  .container {
    @apply max-sm:px-4;
  }
}

/*
Optimize dropdowns for mobile
 */
[data-radix-popper-content-wrapper] {
  @apply w-full md:w-auto;
}

[data-radix-menu-content] {
  @apply rounded-none md:rounded-lg w-full md:w-auto;
}

[data-radix-menu-content] [role="menuitem"] {
  @apply md:min-h-0 min-h-12;
}

.site-header > .container:before,
.site-footer > .container:before {
  background: radial-gradient(62.87% 100% at 50% 100%, theme('colors.gray.200') 0%, rgba(255, 255, 255, 0) 100%);

  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  position: absolute;
  width: 100%;
}

.dark .site-header > .container:before,
.dark .site-footer > .container:before {
  background: radial-gradient(62.87% 100% at 50% 100%, rgba(255, 255, 255, .16) 0%, rgba(255, 255, 255, 0) 100%);
}

.site-footer > .container:before {
  top: 0;
}
